h1{
    font-size: 100 px;
}



span{
    color: rgb(240, 115, 13)
}
.link-button{
    text-decoration: none;
    background: linear-gradient(
45deg
, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
    color: teal;
}
.portfolio{
        color: black;
}
.myself{
    color: rgb(240, 115, 13);
}
.link-button{
    text-decoration: none;
    background: linear-gradient(
45deg
, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
section{
    display: flex;
}
.half-width{
    padding: 2%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
body{
    margin: 0;
}